// ------------------
// COLORS SETTINGS 
// ------------------
$img-path: "../../images";
$font-1: Roboto;
$font-2: 'Roboto Condensed';
$font-3: 'Merriweather Sans';
$black: #000;
$white:#FFF;
$charcoal: #212121;
$navy-blue:#0F234C;
$blue:#3057A7;
$blue-bg:#ECF3FF;
$stone-900:#CCCEB7;
$grey:#828282;
$grey-1:#F2F2F2;
$grey-2:#EEEDEB;