.menu-wrap {
    .main-navigation {
        display: none;
        @include breakpoint(tablet) {
            display: block;
        }
        .menu-slider {
            position: relative;
            margin-bottom: 20px;
            display: block;
            @include breakpoint(tablet) {
                display: none;
            }
            .layout-title {
                font-family: $font-2;
                font-size: 16px;
                line-height: 22px;
                font-weight: 500;
                font-style: italic;
                color: $navy-blue;
                letter-spacing: 0.1px;
                margin-bottom: 14px;
                .slider-link {
                    position: absolute;
                    right: 0;
                    a {
                        color: $blue;
                        text-decoration: underline;
                        font-family: $font-3;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 21px;
                        font-style: normal;
                    }
                }
            }
            .menu-slider-init {
                &.slick-slider {
                    width: 100%;
                }
                .item {
                    background-color: $grey-1;
                    display: flex;
                    flex-direction: column;
                    .img-wrap {
                        display: flex;
                        height: 147px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .menu {
            display: flex;
            gap: 16px;
            .menu-item {
                font-family: $font-3;
                font-size: 14px;
                font-weight: 300;
                font-style: italic;
                line-height: 22px;
                letter-spacing: 0.1px;
                position: static;
                list-style-type: none;
                padding: 22px 0 23px 0;
                &.active,
                &:hover {
                    .item-wrap {
                        a {
                            background-color: $blue-bg;
                            border-radius: 100px;
                        }
                        .item-tag {
                            background-color: $blue-bg;
                            border-radius: 100px;
                        }
                    }
                    &.has-sub-menu {
                        .sub-menu-wrap {
                            visibility: visible;
                        }
                    }
                }
                .item-wrap {
                    position: relative;
                    display: flex;
                    a {
                        padding: 0 12px;
                        color: $navy-blue;
                    }
                    .item-tag {
                        position: relative;
                        font-size: 10px;
                        font-weight: 700;
                        color: $blue;
                        top: -3px;
                        right: 10px;
                        padding: 0 8px;
                    }
                }
                &.has-sub-menu {
                    .sub-menu-wrap {
                        visibility: hidden;
                        position: absolute;
                        width: 100%;
                        background-color: #FFF;
                        z-index: 9;
                        left: 0;
                        overflow: hidden;
                        -webkit-box-shadow: 10px 100px 124px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 10px 100px 124px 0px rgba(0, 0, 0, 0.15);
                        box-shadow: 10px 100px 124px 0px rgba(0, 0, 0, 0.15);
                        top: -35px;
                        @include breakpoint(tablet) {
                            top: 68px;
                        }
                        .sub-menu-container {
                            display: flex;
                            justify-content: space-between;
                            padding: 0 20px;
                            flex-direction: column;
                            @include breakpoint(tablet) {
                                flex-direction: row;
                                padding: 50px 0 67px 80px;
                            }
                            .go-back-btn {
                                position: absolute;
                                top: 4px;
                            }
                            .sub-menu-item {
                                margin-bottom: 32px;
                                @include breakpoint(tablet) {
                                    margin-bottom: 0;
                                }
                                &.layout-column {
                                    .layout-title {
                                        font-family: $font-2;
                                        font-size: 20px;
                                        line-height: 32px;
                                        font-weight: 500;
                                        font-style: normal;
                                        color: $navy-blue;
                                        padding-left: 33px;
                                        padding-bottom: 60px;
                                        @include breakpoint(tablet) {
                                            font-size: 28px;
                                            padding: 0px;
                                        }
                                    }
                                    .layout-menu-item-wrap {
                                        margin-top: 24px;
                                        ul {
                                            list-style-position: inside;
                                            li {
                                                list-style-type: none;
                                                margin-bottom: 16px;
                                                @include breakpoint(tablet) {
                                                    margin-bottom: 24px;
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                    a {
                                                        text-decoration: underline;
                                                    }
                                                }
                                                a {
                                                    font-family: $font-3;
                                                    font-size: 16px;
                                                    font-weight: 300;
                                                    font-style: normal;
                                                    color: $navy-blue;
                                                    line-height: 21px;
                                                    letter-spacing: 0.1px;
                                                    @include breakpoint(tablet) {
                                                        font-size: 18px;
                                                        letter-spacing: -0.75px;
                                                        line-height: 27px;
                                                        font-style: italic;
                                                    }
                                                    &:hover {
                                                        color: $blue;
                                                    }
                                                }
                                                &.is-featured {
                                                    position: relative;
                                                    a {
                                                        &::after {
                                                            content: '';
                                                            width: 20px;
                                                            height: 19px;
                                                            background-image: url('./../../dist/images/featured-icon.svg');
                                                            position: absolute;
                                                            right: -4px;
                                                            top: 50%;
                                                            transform: translateY(-50%);
                                                            transition: all 0.3s;
                                                            background-size: cover;
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                        }
                                                    }
                                                    &:hover {
                                                        a {
                                                            &::after {
                                                                width: 20px;
                                                                height: 19px;
                                                                background-image: url('./../../dist/images/featured-icon-hover.svg');
                                                                transition: all 0.3s;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.layout-tab {
                                    width: 100%;
                                    max-width: 308px;
                                    .tabs {
                                        display: flex;
                                        flex-wrap: wrap;
                                        label {
                                            order: 1;
                                            display: block;
                                            margin-right: 25px;
                                            cursor: pointer;
                                            transition: background ease 0.2s;
                                            font-family: $font-2;
                                            font-size: 18px;
                                            line-height: 22px;
                                            font-weight: 400;
                                            letter-spacing: 0.1px;
                                            color: $navy-blue;
                                            font-style: italic;
                                        }
                                        input[type="radio"] {
                                            display: none;
                                            &:checked+label {
                                                color: $blue;
                                                font-style: normal;
                                                text-decoration: underline;
                                            }
                                            &:checked+label+.tab {
                                                display: block;
                                            }
                                        }
                                        .tab {
                                            order: 99;
                                            flex-grow: 1;
                                            width: 100%;
                                            display: none;
                                            padding-top: 28px;
                                            background: #fff;
                                            .tab-content {
                                                display: flex;
                                                flex-wrap: wrap;
                                                gap: 28px;
                                                .tab-item {
                                                    position: relative;
                                                    text-align: center;
                                                    .block-link {
                                                        position: absolute;
                                                        font-size: 0px;
                                                        top: 0;
                                                        right: 0;
                                                        bottom: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        z-index: 1;
                                                    }
                                                    .img-wrap {
                                                        border: 1px solid $grey-2;
                                                        border-radius: 50%;
                                                        width: 42px;
                                                        height: 42px;
                                                        text-align: center;
                                                        margin: 0 auto;
                                                        position: relative;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        img {
                                                            width: 28px;
                                                            transition: transform .3s ease;
                                                        }
                                                    }
                                                    .item-text {
                                                        font-family: $font-3;
                                                        font-size: 14px;
                                                        line-height: 21px;
                                                        font-weight: 300;
                                                        font-style: italic;
                                                        color: $navy-blue;
                                                        margin-top: 6px;
                                                    }
                                                    &:hover {
                                                        .img-wrap {
                                                            border-color: $blue;
                                                            img {
                                                                transform: rotateZ(15deg);
                                                            }
                                                        }
                                                        .item-text {
                                                            border-color: $blue;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.layout-slider {
                                    display: block;
                                    position: relative;
                                    .layout-title {
                                        font-family: $font-2;
                                        font-size: 16px;
                                        line-height: 22px;
                                        font-weight: 500;
                                        font-style: italic;
                                        color: $navy-blue;
                                        letter-spacing: 0.1px;
                                        margin-bottom: 14px;
                                        @include breakpoint(tablet) {
                                            font-size: 18px;
                                            letter-spacing: -0.1px;
                                        }
                                        .slider-link {
                                            position: absolute;
                                            right: 0;
                                            a {
                                                color: $blue;
                                                text-decoration: underline;
                                                font-family: $font-3;
                                                font-weight: 400;
                                                font-size: 14px;
                                                line-height: 21px;
                                                font-style: normal;
                                            }
                                        }
                                    }
                                    .layout-slider-init {
                                        &.slick-slider[data-show="4"] {
                                            width: 100%;
                                            @include breakpoint(tablet) {
                                                width: 882px;
                                            }
                                        }
                                        .item {
                                            background-color: $grey-1;
                                            display: flex;
                                            flex-direction: column;
                                            .img-wrap {
                                                display: flex;
                                                height: 147px;
                                                @include breakpoint(tablet) {
                                                    height: 222px;
                                                }
                                                img {
                                                    width: 100%;
                                                }
                                            }
                                            .content-wrap {
                                                padding: 26px 24px;
                                                min-height: 61px;
                                                .tag-wrap {
                                                    font-family: $font-3;
                                                    font-size: 8px;
                                                    font-weight: 500;
                                                    font-style: normal;
                                                    line-height: 9px;
                                                    letter-spacing: 1.6px;
                                                    color: $grey;
                                                    text-transform: uppercase;
                                                    @include breakpoint(tablet) {
                                                        font-weight: 300;
                                                        font-style: italic;
                                                    }
                                                }
                                                .title-wrap {
                                                    font-family: $font-3;
                                                    font-size: 14px;
                                                    font-weight: 300;
                                                    font-style: italic;
                                                    line-height: 16px;
                                                    letter-spacing: 0.3px;
                                                    color: $navy-blue;
                                                    padding: 2px 0;
                                                    @include breakpoint(tablet) {
                                                        font-size: 18px;
                                                        line-height: 27px;
                                                    }
                                                }
                                                .price-wrap {
                                                    font-family: $font-3;
                                                    font-size: 12px;
                                                    font-weight: 300;
                                                    font-style: normal;
                                                    line-height: 16px;
                                                    letter-spacing: 0.3px;
                                                    color: $blue;
                                                    @include breakpoint(tablet) {
                                                        font-size: 14px;
                                                        line-height: 21px;
                                                        font-style: italic;
                                                    }
                                                }
                                            }
                                        }
                                        .slick-arrow {
                                            position: absolute;
                                            top: -36px;
                                            right: 0;
                                            border: none;
                                            background-color: transparent;
                                            &.slick-prev {
                                                right: 26px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        .main-navigation {
            display: block;
            position: absolute;
            left: 0;
            top: 50px;
            z-index: 9;
            background-color: $white;
            width: 100%;
            height: 100vh;
            .menu-main-menu-container {
                padding: 0 20px;
                padding-top: 40px;
                .menu {
                    flex-direction: column;
                    gap: 6px;
                    .menu-item {
                        padding: 9px 0;
                        border-bottom: 1px solid $blue-bg;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                        &:last-child {
                            border-bottom: 0;
                            .item-wrap {
                                a {
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .item-wrap {
                            position: relative;
                            a {
                                &::after {
                                    content: '';
                                    display: block;
                                    background-image: url('./../../dist/images/right-arrow.svg');
                                    width: 14px;
                                    height: 13px;
                                    position: absolute;
                                    top: 50%;
                                    right: 10px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}